<h1>Reactive Forms Sample
</h1>
<form [formGroup]="reactiveForm">
  <div class="container">
  <div class="row form-group">
    <input type="text" tabindex="1" placeholder="Textbox 1">
    </div>

  <ng-checkbox-list 
[source]="data$ | async"
labelField="description"
valueField="id"
formControlName="selected"
colClass="col-sm-6"
tabindex="2"
>
</ng-checkbox-list>
<span *ngIf="reactiveForm.get('selected').errors?.required">field is required</span>
        <span *ngIf="reactiveForm.get('selected').errors?.minlength">At least 1 is required</span>
      <span *ngIf="reactiveForm.get('selected').errors?.maxlength">Max 2 allowed</span>
  
      

<div class="row form-group">
    <input type="text" tabindex="3" placeholder="Textbox 2">
    </div>
</div>
</form>
<pre>
 Touched: {{reactiveForm.get('selected').touched}}
</pre>
<pre>
Form Value:
{{reactiveForm.value | json}}

</pre>

